<div class="row container-fluid component-body">
	<div class="col-md-2"></div>

	<div class="col-md-8">
		<h4>Members</h4>
		<div *ngFor="let user of carecirclemembers">
			<span class="row">
				<p class="col-3">{{ user.email }}</p>
				<button *ngIf="isAdmin && !user.isAdmin" (click)="toggleAdminStatus(user.email)"
					class="mt-2 btn btn-warning mt-1 col-3">Grant Circle Admin privileges</button>
				<button *ngIf="isAdmin && user.isAdmin" (click)="toggleAdminStatus(user.email)"
					class="mt-2 btn btn-success mt-1 col-3">Revoke Circle Admin privileges</button>

			</span>
		</div>
	</div>
	<div class="col-md-2">
		<div *ngIf="isAdmin">
			<h6>Add User to your Circle</h6>
			<div *ngIf="errorMessage !== undefined" class="alert alert-warning" role="alert">
				{{ errorMessage }}
			</div>
			<form [formGroup]="form" autocomplete="off">
				<div class="form-group">
					<input type="text" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp"
						placeholder="Enter email" formControlName="email" [ngClass]="{
              'is-invalid':
                (formControl['email'].touched || submitted) &&
                formControl['email'].invalid
            }" />
					<div *ngIf="formControl['email'].invalid" class="invalid-feedback">
						<div *ngIf="formControl['email'].errors?.['required']">
							Email is required
						</div>
					</div>
				</div>
				<button class="mt-2 btn btn-dark" type="button" (click)="addUserToCareCircle()">
					Add User
				</button>
			</form>
		</div>
	</div>
</div>