<ul class="info-widget list-inline mb-2">
  <li class="list-inline-item">
    <a
      [tooltip]="isAdmin ? 'You are a circle admin' : 'You are a user'"
      style="background-color: var(--peli-main-color)"
      ><fa-icon [icon]="isAdmin ? faUserShield : faUser"></fa-icon
    ></a>
  </li>
</ul>

<ul class="info-widget list-inline mb-2">
  <li class="list-inline-item">
    <button
      class="btn btn-peli"
      routerLink="/carecircle/{{ careCircle.id }}/members"
      [tooltip]="memberCountMessage"
      ><fa-icon class="pe-1" [icon]="faUsers"></fa-icon
    >
    {{ memberCount }}</button>
  </li>
  <li class="list-inline-item">
    <button
      class="btn btn-peli"
      routerLink="/carecircle/{{ careCircle.id }}"
      [tooltip]="taskCountMessage"
      ><fa-icon class="pe-1" [icon]=faTasks></fa-icon
    >
    {{ careCircle.taskList.length }}</button>
  </li>
</ul>
