.info-widget li a {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 33px;
  line-height: 33px;
  text-align: center;
  width: 33px;
  font-size: 16px;
  text-decoration: none;
}
