<div class="row container-fluid component-body">
  <div class="col-md-2"></div>
  <div class="col-md-6">
<p>carecircle-users works!</p>
<form>
  <div class="form-group">
    <label for="inputEmail">Email:</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      name="email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>
  </form>
  <button class="btn-dark" (click)="onSubmitAdd()">Add User to Care Circle</button>
</div>
<div class="col-md-2">
</div>
