<div class="row container-fluid component-body">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <h4 class="text-primary">Change password</h4>
    <div *ngIf="showErrorMessage !== undefined" class="alert alert-warning" role="alert">
      {{showErrorMessage}}</div>
    <form class="form" [formGroup]="changePasswordForm">
    <div class="form-group">
      <label for="inputPassword">Old password:</label>
      <input
        type="password"
        class="form-control"
        id="oldPassword"
        name="oldPassword"
        placeholder="Enter old password"
        required
        formControlName ="oldPassword"
        [ngClass]="{
          'is-invalid':
            (changePasswordFormControl['oldPassword'].touched || submitted) &&
            changePasswordFormControl['oldPassword'].invalid
        }"
        />
        <div *ngIf="changePasswordFormControl['oldPassword'].invalid"
        class="invalid-feedback">
        <div *ngIf="changePasswordFormControl['oldPassword'].errors?.['required']">Password is required</div>
      </div>
      <div class="form-group">
      <label for="inputNewPassword">New password:</label>
      <input
        type="password"
        class="form-control"
        id="newPassword"
        name="newPassword"
        placeholder="Enter new password"
        required
        formControlName ="newPassword"
        [ngClass]="{
          'is-invalid':
            (changePasswordFormControl['newPassword'].touched || submitted) &&
            changePasswordFormControl['newPassword'].invalid
        }"/>
        <div *ngIf="changePasswordFormControl['newPassword'].invalid"
        class="invalid-feedback">
        <div *ngIf="changePasswordFormControl['newPassword'].errors?.['passwordMismatch']">Old and new passwords can not be the same</div>
        <div *ngIf="changePasswordFormControl['newPassword'].errors?.['required']">Password is required</div>
        <div *ngIf="changePasswordFormControl['newPassword'].errors?.['minlength']">Password needs to be at least 6 characters long</div>
      </div>
      <label for="inputNewPasswordConfirm">Confirm password:</label>
      <input
        type="password"
        class="form-control"
        id="newPasswordConfirm"
        name="newPasswordConfirm"
        placeholder="Confirm new password"
        required
        formControlName ="newPasswordConfirm"
        [ngClass]="{
          'is-invalid':
            (changePasswordFormControl['newPasswordConfirm'].touched || submitted) &&
            changePasswordFormControl['newPasswordConfirm'].invalid
        }"/>
        <div *ngIf="changePasswordFormControl['newPasswordConfirm'].invalid"
        class="invalid-feedback">
        <div *ngIf="changePasswordFormControl['newPasswordConfirm'].errors?.['required']">Password is required</div>
        <div *ngIf="changePasswordFormControl['newPasswordConfirm'].errors?.['passwordMismatch']">Passwords need to match</div>
      </div>
    </div>
    </div>
    <div>
      <button class="mt-2 btn btn-primary" (click)="savePass()">
        Save new password
      </button>
    </div>
  </form>
  </div>
</div>
