<div class="row container-fluid component-body">
  <div class="col-md-2"></div>

  <div class="col-md-8">

    <div class="container">
      <div class="row">

        <div class="header">
          <h4 class="text-dark">Your Care Circles</h4>

          <div class="card">
            <div class="body">
              <h5 *ngIf="adminCircles.length > 0">You are an Admin of:</h5>
              <ul class="list-unstyled row">
                <li class="col-lg-2 col-md-6 col-12 mt-4 pt-2" *ngFor="let careCircle of adminCircles">

                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center"></div>
                    <div class="mt-3">
                      <h5>
                        <a routerLink="/carecircle/{{careCircle.id}}" class="list-group-item">
                          <div class="rounded-circle p-1" width="110"></div>
                          {{careCircle.name}}</a>
                      </h5>
                    </div>
                  </div>
              </ul>
            </div>

            <div class="body">
              <h5 *ngIf="userCircles.length > 0"> You are a User of:</h5>
              <p *ngIf="userCircles.length == 0">There are no Care Circles to display for you as a user </p>
              <ul class="list-unstyled row">
                <li class="col-lg-2 col-md-6 col-12 mt-4 pt-2" *ngFor="let careCircle of userCircles">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center"></div>
                    <div class="mt-3">
                      <h5>
                        <a routerLink="/carecircle/{{careCircle.id}}" class="list-group-item">
                          <div class="rounded-circle p-1" width="110"></div>
                          {{careCircle.name}}</a>
                      </h5>
                    </div>
                  </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <a class="btn btn-dark" routerLink="/carecircles/create">Create a new Care Circle</a>
  </div>
</div>