.body {
    padding-top: 30px;
}

a {
    text-align: center;
}

.card {    
    border: 0 solid transparent;      
}

.rounded-circle {
    margin-bottom:20px;
    width: 120px;
	height: 120px;
	border: 12px solid rgba(99, 86, 141, 0.685);
}

