<div *ngIf="careCircle" class="component-body" >    
    <div *ngFor="let task of careCircle.taskList" class="row">
        <p class="col-2">{{task.title}}</p>
        <a class="btn btn-dark col-1" routerLink="/task/edit/{{task.id}}/{{careCircle.id}}">Edit</a>
    </div>
    <div *ngIf="careCircle.taskList.length === 0">
        <p>The List is empty</p>
    </div>
    <div class="row">
        <div class="col-2"> </div>
        <a class="btn btn-dark col-1" routerLink="/task/create/{{careCircle.id}}">New Task</a>
    </div>
</div>
