<div class="row container-fluid component-body">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="row container-fluid component-body">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div *ngIf="careCircle" class="component-body">
          <h3>Task List for {{careCircle.name}}</h3>
          <p></p>
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">Task name</th>
                <th scope="col">Task description</th>
                <th scope="col">Completed</th>
                <th scope="col"></th> <!-- some layout space for the edit-button -->
              </tr>
            </thead>
            <tbody *ngFor="let task of careCircle.taskList">
              <tr>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>

                <td *ngIf="task.completedTask">Done</td>
                <td *ngIf="task.completedTask == false">
                  <button class="btn btn-outline-dark" (click)="complete(task)">To do</button>
                </td>
                <td>
                  <a class="btn btn-outline-dark" routerLink="/task/edit/{{task.id}}/{{careCircle.id}}">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="careCircle.taskList.length === 0">
            <p>The List is empty</p>
          </div>
          <div class="row">
            <div class="col-3">
              <a class="btn btn-outline-dark" routerLink="/task/create/{{careCircle.id}}">New Task</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>