<div
  class="modal fade"
  id="addTask"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addTaskLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addTaskLabel">Add new Task</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="addTaskForm">
            <div class="row mt-2">
              <div class="col text-center">
                <label for="title" class="form-label">Title</label>
                <input
                  type="text"
                  placeholder="Task Title"
                  name="title"
                  class="form-control"
                  id="title"
                  formControlName="title"
                  [ngClass]="{
                    'is-invalid':
                      (taskFormControl['title'].touched || submitted) &&
                      taskFormControl['title'].invalid
                  }"
                />
                <div
                  *ngIf="taskFormControl['title'].invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="taskFormControl['title'].errors?.['required']">
                    Title is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col text-center">
                <label for="description" class="form-label">Description</label>
                <textarea
                  type="text"
                  placeholder="Task description"
                  name="description"
                  class="form-control"
                  id="description"
                  rows="5"
                  formControlName="description"
                  [ngClass]="{
                    'is-invalid':
                      (taskFormControl['description'].touched || submitted) &&
                      taskFormControl['description'].invalid
                  }"
                ></textarea>
                <div
                  *ngIf="taskFormControl['description'].invalid"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="taskFormControl['description'].errors?.['required']"
                  >
                    Description is required
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="submitTask(careCircleId)"
          [disabled]="!addTaskForm.valid"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
