<div class="container-fluid component-body">
  <div class="row">
    <div class="col">
        <h4 class="text-primary">Create new Account</h4>
        <form [formGroup]="form">
          <div class="form-group">
            <label for="inputEmail">Email:</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              name="email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              formControlName="email"
            />
            <small class="text-danger" [hidden]="form.controls['email'].valid">
              Email Required</small
            >
          </div>

          <div class="form-group">
            <label for="inputPassword">Password:</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              name="password"
              placeholder="Password"
              formControlName="password"
            />
            <small
              class="text-danger"
              [hidden]="form.controls['password'].valid"
            >
              Password Required</small
            >
          </div>
          <button class="mt-2 btn btn-primary" (click)="register()">
            Register
          </button>
        </form>
        <a class="mt-2 btn btn-primary" routerLink="/account/create">Sign In</a>
      </div>
    </div>
</div>
