<div class="row container-fluid component-body">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="component-body">
      <div class="row d-flex justify-content-center">
        <div class="col-5">
    <h4 class="text-dark">Create new Care Circle</h4>
    <form [formGroup]="createCircleForm">
      <div class="form-group">
        <label for="inputName">Name:</label>
        <input
          type="text"
          class="form-control"
          id="inputName"
          name="name"
          aria-describedby="nameHelp"
          placeholder="Enter name"
          formControlName="name"
          [ngClass]="{
            'is-invalid':
              (createCircleFormControl['name'].touched || submitted) &&
              createCircleFormControl['name'].invalid
          }"
        />
        <div
          *ngIf="createCircleFormControl['name'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="createCircleFormControl['name'].errors?.['required']">
            Name is required
          </div>
        </div>
      </div>
    </form>
    </div>
    </div>
    </div>
  </div>
  <div class="col-md-2">
    <div>
      <button class="mt-2 btn btn-peli" (click)="create()">
        Save new Circle
      </button>
    </div>
    <div>
      <button class="mt-2 btn btn-secondary" routerLink="/carecircles">
        Back
      </button>
    </div>
  </div>
</div>
