/* You can add global styles to this file, and also import other style files */

/* These properties define the color theme of the application */
/* blue theme */
:root {
  --peli-main-color:#483D8B;
  --peli-secondary-color:#6A5ACD;
}

/* purple theme */
/*
:root {
  --peli-main-color:#8B008B;
  --peli-secondary-color:#9932CC;
}
*/

/* To add space between the page content and the footer */
body {
  padding-bottom: 50px;
}

/* Custom PeliCare color styling of buttons, navbar, text, etc...*/
.btn-peli, .btn-peli:active, .btn-peli:visited{
  color: white;
  background-color: var(--peli-main-color);
}

.btn-peli:hover, .btn-peli:disabled{
  color: white;
  background-color: var(--peli-secondary-color);
}

.bg-peli {
  background-color: var(--peli-main-color);
}

.text-peli {
  color: var(--peli-main-color);
}

.text-peli:hover{
  color: var(--peli-secondary-color);
}

.form-control:focus {
  border-color: var(--peli-main-color);
  box-shadow: 0 0 0 0.2rem rgba(106,90,205, 0.25);
}

.circleimage {
  background-color: pink;
}

.errorMessage {
  color: darkorange;
  margin: 0.5rem;
}

.component-body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  align-content: center;
}


.rounded-circle {
  margin: 0 auto;
  width: 100px;
	height: 100px;
	border: 6px solid rgba(99, 86, 141, 0.685);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.card{
  padding: 1.5em .5em .5em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-title{
  font-weight: 600;
  font-size: 1.15em;
}

.btn{
  border-radius: 2em;
  padding: .3em 1.5em;
}
.btn:hover {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}






