<div class="row container-fluid component-body">
    <div class="col-md-2"></div>
    
    <div class="col-md-8">
        <h4 class="text-dark">{{message}}</h4>
        <p>for {{carecircleName}}</p>
        <form>
            <div class="row">
                <input type="text" [(ngModel)]="title" placeholder="Task Title" required name="title"
                    class="form-control col" id="title">
            </div>
            <br>
            <div class="row">
                <textarea [(ngModel)]="description" placeholder="Task description" required name="description"
                class="form-control" id="description" rows="10"></textarea>
            </div>
            <p *ngIf="incompleteFields" class="errorMessage">please fill in all fields</p>
        </form>
    </div>

    <div class="col-md-2">
        <div><button class="btn btn-dark m-2" (click)="save()">Save Task</button></div>
        <div><button *ngIf="taskId" class="btn btn-dark m-2" (click)="delete()">Delete Task</button></div>
        <div><a class="btn btn-dark m-2" routerLink="/carecircle/{{careCircleId}}">Back</a></div>
    </div>

</div>