<div class="container-fluid component-body">
  <div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8">
      <div class="component-body">
        <div class="row d-flex justify-content-center">
          <div class="col-5">
      <h4>Create new Account</h4>
      <form
        class="form"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmitRegister()"
      >
        <div class="form-group">
          <label for="inputEmail">Email:</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email"
            required
            [ngClass]="{'is-invalid': (registerFormControl['email'].touched || submitted) && registerFormControl['email'].invalid}"
          />
          <div
            *ngIf="registerFormControl['email'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormControl['email'].errors?.['required']">Email is required</div>
            <div *ngIf="registerFormControl['email'].errors?.['email']">Enter a valid email address</div>
            <div *ngIf="registerFormControl['email'].errors?.['userEmailNotAvailable']">This email address is already in use</div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password:</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            name="password"
            placeholder="Password"
            formControlName="password"
            required
            [ngClass]="{'is-invalid': (registerFormControl['password'].touched || submitted) && registerFormControl['password'].invalid}"
          />
          <div *ngIf="registerFormControl['password'].invalid"
            class="invalid-feedback">
            <div *ngIf="registerFormControl['password'].errors?.['required']">Password is required</div>
            <div *ngIf="registerFormControl['password'].errors?.['minlength']">Password needs to be at least 6 characters long</div>
          </div>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            class="form-control"
            name="confirmPassword"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            [ngClass]="{
              'is-invalid':
              (registerFormControl['confirmPassword'].touched || submitted) &&
              registerFormControl['confirmPassword'].invalid
            }"/>
          <div *ngIf="registerFormControl['confirmPassword'].invalid"
            class="invalid-feedback">
            <div *ngIf="registerFormControl['confirmPassword'].errors?.['required']">Confirm Password is required</div>
            <div *ngIf="registerFormControl['confirmPassword'].errors?.['passwordMismatch']">Confirm Password does not match</div>
          </div>
        </div>
        <div class="form-group mt-2">
          <re-captcha
            id="recaptcha"
            name="recaptcha"
            formControlName="captchaResponse"
            [ngClass]="{'is-invalid': (registerFormControl['captchaResponse'].touched || submitted) && registerFormControl['captchaResponse'].invalid}">
          </re-captcha>
          <div
            *ngIf="registerFormControl['captchaResponse'].invalid"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormControl['captchaResponse'].errors?.['required']">
              Please prove above that you are human
            </div>
          </div>
        </div>
        <button class="mt-2 btn btn-peli" type="submit">Register</button>
      </form>
            <br>
      <p>Already have an account? <a class="text-peli" routerLink="/account/signin"> Sign in here.</a></p>
          </div>
          </div>
          </div>
    </div>
      <div class="col-md-2"></div>
  </div>
</div>
