<div class="row container-fluid component-body">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <h4 class="text-dark">Create new Care Circle</h4>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="inputName">Name:</label>
        <input type="text" class="form-control" id="inputName" name="name" aria-describedby="nameHelp"
          placeholder="Enter name" formControlName="name" />
      </div>
      
    </form>
  </div>
  <div class="col-md-2">
    <div>
      <div><button class="mt-2 btn btn-dark" (click)="create()">
        Save new Care Circle
      </button></div>
      <div><button class="mt-2 btn btn-dark" routerLink="/carecircles">Back</button></div>
    </div>
  </div>
</div>