<div class="row container-fluid component-body">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <h4>Members</h4>
    <div *ngFor="let user of users">
      <p>{{ user.email }}</p>
    </div>
  </div>
  <div class="col-md-2">
    <div *ngIf="isAdmin">
      <h6>Add User to your Circle</h6>
      <form [formGroup]="form">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="inputEmail"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email"
          />
        </div>
        <button class="mt-2 btn btn-dark" type="button" (click)="addUserToCareCircle()">
          Add User
        </button>
      </form>
    </div>
  </div>
</div>
