<modal id="deleteTask">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="deleteTaskLabel">Confirmation</h1>
    <button
      type="button"
      class="btn-close"
      (click)="modalService.close()"
    ></button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete: <b>{{ taskTitle }}</b>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="goBack()">
      Go back
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteTask(taskId)">
      Delete
    </button>
  </div>
</modal>
